[submodule "Packages/PLATEAU-SDK-for-Unity"]
	path = Packages/PLATEAU-SDK-for-Unity
	url = git@github.com:Synesthesias/PLATEAU-SDK-for-Unity.git
[submodule "Packages/PLATEAU-SDK-Toolkits-for-Unity"]
	path = Packages/PLATEAU-SDK-Toolkits-for-Unity
	url = git@github.com:Synesthesias/PLATEAU-SDK-Toolkits-for-Unity.git
[submodule "Packages/Maps-Toolkit-for-Unity-Landscape"]
	path = Packages/Maps-Toolkit-for-Unity-Landscape
	url = git@github.com:Synesthesias/Maps-Toolkit-for-Unity-Landscape.git
[submodule "Packages/landscape-design-tool"]
	path = Packages/landscape-design-tool
	url = git@github.com:Synesthesias/landscape-design-tool.git
[submodule "Packages/Data-Preparation-Tool-for-TrafficSim"]
	path = Packages/Data-Preparation-Tool-for-TrafficSim
	url = git@github.com:Project-PLATEAU/Data-Preparation-Tool-for-TrafficSim.git
