
.IconAsset .unity-radio-button__checkmark-background {
    background-image: url('./Resources/Images/Icon_Asset.png');
}

.IconDashboard .unity-radio-button__checkmark-background {
    background-image: url('./Resources/Images/Icon_Dashboard.png');
}

.IconGis .unity-radio-button__checkmark-background {
    background-image: url('./Resources/Images/Icon_Gis.png');
}

.Icon__HeightDisplay {
    background-image: resource("Icon_HeightDisplay");
}

.IconLineOfSight .unity-radio-button__checkmark-background {
    background-image: url('./Resources/Images/Icon_LineOfSight.png');
}

.IconLandscapeArea .unity-radio-button__checkmark-background {
    background-image: url('./Resources/Images/Icon_LandscapeArea.png');
}